html,body {
    width:100%;
    height:100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap:50px;
}
.content{
    display: flex;
    flex-direction: column;
    gap:30px;
}
.header {
    width: 100%;
    height: 50px;
    background-color: #001F3F;
    align-self: center;
    border-radius: 10px;
    text-align: center;
    overflow: inherit;

}
.navbar{
    width: 100%;
    height: 60px;
    background-color:#002480;
    display:flex;
    position: sticky;
    top: 0;
    justify-content: center;
    flex-direction: row;
    gap:10px;
}
.navbar p{
    color:white;
    font-size: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.navbar img{
    width:40px;
    height:40px;
    background-color: #002480;
    margin-bottom: 10px;
}
.description {
    margin: 20px;
    padding: 10px;
    border: 3px solid yellowgreen;
    border-radius: 10px;
}
.description h2{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
}
.description h3{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}
.description h4{
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
}
.input{
    width: 100%;
    font-weight: bold;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.submitBTN{
    display: flex;
    align-items: center;
    justify-content:center;
}
.report{
    width:100%;
    height:max-content;
    border: 1px solid black;
    margin:10px;
    display: flex;
    gap:20px;
    flex-direction: column;
    justify-content: center;
}
.meterCircle {
    --value: 75; 
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background: conic-gradient(
      #00ff88 calc(var(--value) * 1%),
      #333 calc(var(--value) * 1%)
    );
    align-self: center;
}
.report h2{
    margin-top: 10px;
    align-self: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    /* :'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
}
.report #currentAttendace{
    font-size: 1rem;
    align-self: center;
    font-weight: bold;
}
.stats-info{
    height:max-content;
    width:500px;
    margin:10px;
    border-radius: 10px;
    padding:10px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}
.Data{
    display:flex;
    flex-direction: column;
    gap:30px;
}
.inputDiv{
    display: flex;
    margin:10px;
    gap:20px;
    flex-direction: row;
    justify-content: space-between;
}
.Input{
    width:18vw;
    display:flex;
    justify-content: center;
    background-color:bisque;
    color:black;
    text-align: center;
    font-weight: bold;
    border-radius:0 5px 5px 0;
    font-size: 1rem;

}
.Output{
    width:18vw;
    border-radius:5px 0 0 5px;
    display:flex;
    font-weight: bold;
    text-align: center;
    justify-content: center;

}
.leftChildInput,.rightChildInput{

    display: flex;
    flex-direction: row;
    gap:0;
}
.closingCard{
    margin-top: 50px;
    width:500px;
    height:600px;
    /* border: 2px solid black; */
    align-self: center;
    border-radius: 10px;
    margin-bottom: 10px;
    background: linear-gradient(
    90deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
}
.bottomBox{
    flex:1;
    height: 50%;
    padding:9px;
}
.bottomBox p{
    color:black;
    font-weight: bold;
    font-size: 1.2rem;;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.topBox{
    padding:10px;
    flex:1;
    width:100%;
    height:50%;
    overflow: hidden;
}
.topBox img{
    width:100%;
    height:100%;
    object-fit: fill;
}
/* .closingCard{
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: linear-gradient(
    90deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  background-size: 400%;
  z-index: 0;
  filter: blur(2px);
  animation: borderMove 6s linear infinite;
} */
 .closingCard {
  position: relative;
  width: 100%;
  max-width: 500px;
  margin: 30px auto;
  border-radius: 15px;
  overflow: hidden;
  color: white;
  background: white; /* dark background */
  text-align: center;
  padding: 20px;
  z-index: 0;
}

/* Animated rainbow border */
.closingCard::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 3px; /* border thickness */
  border-radius: 15px;
  background: linear-gradient(
    90deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  background-size: 400%;
  animation: borderFlow 6s linear infinite;

  /* mask creates hollow center (only border visible) */
  -webkit-mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
  z-index: -1;
}

/* Smooth rainbow movement */
@keyframes borderFlow {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.ending p{
    text-align: center;
    align-self: center;
    margin:10px;
    font-weight: bold;
    font-family: fantasy;
}
#naming{
    text-align: center;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
@media (min-width:1800px) {
    .Input{
        width:10vw;
    }
}
@media (max-width:967px){
    .inputDiv{
        display:flex;
        flex-direction: column;
    }
    .Input{
        width:60vw;
    }
    .Output{
        width:50vw;
    }
}
@media (max-width:1100px){
    .input{
        display:flex;
        flex-direction: column;
        gap:20px;
    }
}
@media (max-width:441px){
    .Output{
        width:25vw;
    }
    .Input{
        width:35vw;
        font-size: 0.5rem;
    }
}
@media (max-width:440px){
    .Output{
        width:40vw;
    }
    .Input{
        width:40vw;
        font-size: 0.6rem;
    }
}